In [1]:
### conflits with Deepnote ###

# matplotlib inline plotting
%matplotlib inline
# make inline plotting higher resolution
%config InlineBackend.figure_format = 'svg'

### conflits with Deepnote ###

In [2]:
# imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

plt.style.use('dark_background')

## Problem 1

A wide range of stock characteristics have been shown to be related to average returns in
the cross section of stocks. These characteristics include size, value, investment, profitability,
momentum, reversal, among others. Characteristic-sorted portfolios generate a spread in average
returns, but characteristics associated with large average returns are not necessarily associated
with large market betas and the CAPM therefore fails to explain the cross section of average
returns.

Fama and French (2015) suggest a five-factor model that adds investment and profitability
factors to the Fama and French three-factor model, which consists of market, size, and value
factors and until recently has been one of the main benchmark models for estimating expected
returns in empirical asset pricing. Fama and French have in their recent research shown that
their new five-factor model accounts for several anomalies.

The excel file "Cross_sectional_asset pricing" contains data on the five factors in the Fama-French five-factor model as well as excess returns on three portfolio sets: i) 25 portfolios formed
on profitability and investment, ii) 25 portfolios formed on size and long-term reversal, and iii)
25 portfolios formed on size and momentum. The sample covers the period from $1963: \mathrm{m} 7$ to
2020:m8 and all data are obtained from Kenneth French's website.


## Problem 1, a)
Analyze how the CAPM, the Fama-French three-factor model and the Fama-French five-factor model perform in explaining expected returns on the 25 portfolios formed on profitability
and investment:
- Compute the GRS statistic and the corresponding $p$-value for each of the three models.
- To judge the economic size of the alphas, compute the average absolute value of the alphas for
each of the three models. In matlab you use can e.g. mean(abs(alphas)).

In [3]:
factors = pd.read_excel('Data.xlsx', sheet_name='factors', engine='openpyxl')
factors = factors.rename(columns={'Unnamed: 0': 'date'})
factors['date'] = pd.to_datetime(factors['date'], format='%Y%m')
factors = factors.set_index('date', drop=True)

factors.head()

            Mkt-RF   SMB   HML   RMW   CMA
date
1963-07-01   -0.39 -0.47 -0.83  0.66 -1.15
1963-08-01    5.07 -0.79  1.67  0.40 -0.40
1963-09-01   -1.57 -0.48  0.18 -0.76  0.24
1963-10-01    2.53 -1.29 -0.10  2.75 -2.24
1963-11-01   -0.85 -0.84  1.71 -0.45  2.22

In [4]:
ret = pd.read_excel('Data.xlsx', sheet_name='profitability_investment', engine='openpyxl')
ret = ret.rename(columns={'Unnamed: 0': 'date'})
ret['date'] = pd.to_datetime(ret['date'], format='%Y%m')
ret = ret.set_index('date', drop=True)

ret.head()

,LoOP LoINV,OP1 INV2,OP1 INV3,OP1 INV4,LoOP HiINV,OP2 INV1,OP2 INV2,OP2 INV3,OP2 INV4,OP2 INV5,...,OP4 INV1,OP4 INV2,OP4 INV3,OP4 INV4,OP4 INV5,HiOP LoINV,OP5 INV2,OP5 INV3,OP5 INV4,HiOP HiINV
date,,,,,,,,,,,,,,,,,,,,,
1963-07-01,-1.1871,-1.0441,-2.0151,0.6560,-2.5425,-1.4644,-1.5974,3.1350,1.6328,-0.1130,...,-3.1910,0.1815,-1.0238,0.2840,-2.7926,2.3794,0.4006,-0.4158,-0.6402,1.2919
1963-08-01,7.4754,5.2482,4.5759,1.2455,6.4935,8.7000,5.5159,2.4806,2.6059,5.3194,...,3.5235,3.6861,6.1383,6.3852,6.4508,5.4090,6.0601,7.1438,4.5741,6.8132
1963-09-01,-1.0392,-0.8898,-1.9844,-2.8742,-3.1144,0.4615,0.0034,-3.4706,-4.0289,-3.0085,...,-0.9835,-2.0798,-2.8052,-3.4563,-0.7742,-5.8557,-3.0517,-2.9164,-0.7514,-0.9931
1963-10-01,2.1550,0.2475,1.9709,-1.0776,0.9655,1.2260,0.5362,-2.3658,2.4361,-2.3430,...,3.8313,-1.2876,1.7085,7.6181,0.8381,2.5226,3.2412,-0.4902,5.1305,12.4601
1963-11-01,-1.2420,-0.7869,3.1543,-4.4049,0.0987,-1.6428,-3.0245,-2.0282,0.5229,-1.3271,...,4.4249,-0.3162,-1.0040,-0.5399,-2.6382,-0.4554,-0.7120,-3.0749,-1.0372,-5.6682

In [5]:
sr = pd.read_excel('Data.xlsx', sheet_name='size_reversal', engine='openpyxl')
sr = sr.rename(columns={'Unnamed: 0': 'date'})
sr['date'] = pd.to_datetime(sr['date'], format='%Y%m')
sr = sr.set_index('date', drop=True)

sr.head()

,SMALL LoPRIOR,ME1 PRIOR2,ME1 PRIOR3,ME1 PRIOR4,SMALL HiPRIOR,ME2 PRIOR1,ME2 PRIOR2,ME2 PRIOR3,ME2 PRIOR4,ME2 PRIOR5,...,ME4 PRIOR1,ME4 PRIOR2,ME4 PRIOR3,ME4 PRIOR4,ME4 PRIOR5,BIG LoPRIOR,ME5 PRIOR2,ME5 PRIOR3,ME5 PRIOR4,BIG HiPRIOR
date,,,,,,,,,,,,,,,,,,,,,
1963-07-01,-1.96,-0.59,0.56,-0.69,0.93,-1.31,-5.06,-0.20,-1.75,0.31,...,-3.50,-2.68,-1.64,-0.37,-1.75,-1.40,0.15,0.85,-0.10,-0.97
1963-08-01,3.65,3.61,1.71,2.27,1.06,6.39,3.97,4.65,5.05,6.27,...,7.08,5.74,4.88,5.25,4.60,6.62,5.15,5.31,4.54,4.98
1963-09-01,-1.46,-2.03,-0.79,-1.03,-2.96,-2.55,-1.76,-0.53,-2.74,-2.45,...,-2.46,-1.24,-2.22,-2.82,-3.35,-0.67,-2.56,-0.96,-3.60,0.28
1963-10-01,1.16,3.10,2.40,0.72,0.00,0.36,3.92,2.41,2.92,3.68,...,3.17,2.05,0.29,0.76,0.47,0.37,2.11,5.19,1.06,2.81
1963-11-01,-0.86,-2.03,-1.42,-0.74,-0.65,-1.03,1.41,-1.28,1.04,-2.71,...,1.79,-0.37,-0.21,-1.47,-0.27,-0.10,-1.77,-3.36,0.38,0.82

In [6]:
smo = pd.read_excel('Data.xlsx', sheet_name='size_momentum', engine='openpyxl')
smo = smo.rename(columns={'Unnamed: 0': 'date'})
smo['date'] = pd.to_datetime(smo['date'], format='%Y%m')
smo = smo.set_index('date', drop=True)

smo.head()

,SMALL LoPRIOR,ME1 PRIOR2,ME1 PRIOR3,ME1 PRIOR4,SMALL HiPRIOR,ME2 PRIOR1,ME2 PRIOR2,ME2 PRIOR3,ME2 PRIOR4,ME2 PRIOR5,...,ME4 PRIOR1,ME4 PRIOR2,ME4 PRIOR3,ME4 PRIOR4,ME4 PRIOR5,BIG LoPRIOR,ME5 PRIOR2,ME5 PRIOR3,ME5 PRIOR4,BIG HiPRIOR
date,,,,,,,,,,,,,,,,,,,,,
1963-07-01,-0.46,-1.43,0.84,-1.06,-0.78,-2.43,-1.70,-2.51,-1.70,-0.33,...,-2.97,-1.41,-1.40,-1.80,-1.67,-1.66,-0.67,0.76,0.09,-0.34
1963-08-01,1.73,1.59,2.60,2.63,5.58,4.01,4.66,3.94,4.07,6.92,...,5.69,4.30,4.72,4.58,7.69,5.67,4.60,5.53,4.06,6.87
1963-09-01,-1.25,-1.24,-0.85,-1.26,0.16,-4.03,-1.20,-0.90,-1.94,-1.09,...,-4.99,-1.88,-2.51,-2.15,-2.47,-2.55,1.24,-1.76,-1.83,-2.89
1963-10-01,-0.95,-0.61,1.24,2.82,2.52,3.40,0.00,1.48,1.77,3.97,...,-0.28,-0.19,0.55,0.42,3.52,2.27,1.31,2.81,0.65,8.22
1963-11-01,-2.35,-1.79,-1.71,-1.96,-2.65,-3.03,-0.75,-1.10,-1.24,-1.30,...,0.85,-0.68,-1.45,-0.16,-0.47,-1.31,1.50,-1.24,-2.43,-0.97

#### GRS statistic

To test calculate the GRS-test statistic, we can use the following (for both single and multifactor models)

$$G R S=\frac{T-N-k}{N}\left(1+\widehat{\boldsymbol{\mu}}_{k}^{\prime} \hat{\Omega}^{-1} \widehat{\boldsymbol{\mu}}_{k}\right)^{-1} \widehat{\boldsymbol{\alpha}}^{\prime} \widehat{\mathbf{\Sigma}}^{-1} \widehat{\boldsymbol{\alpha}} \quad \sim \mathcal{F}(N, T-N-k)$$

In [7]:
def calc_GRS(F, e, a):
    ddof = 0  # Delta degrees of freedom set to 0 to align with MatLab
    k = 0  # number of factors
    N = e.shape[1]  # number of assets 
    T = e.shape[0]  # time of time-series observations
    
    a = np.matrix(a['alpha'].values)  # estimated alphas (1 x N)
    sigma = e.cov(ddof=ddof)  # residual covariance (N x N)
    mu = np.matrix(F.mean().values)  # k x 1 vector of factor means
    
    if len(F.shape) == 1:
        omega = F.var(ddof=ddof)  # 1 x 1 vector of factor variances
        k = 1
    else:
        omega = F.cov(ddof=ddof)  # k x k covariance matix for the k factors
        k = F.shape[1]
    
    # calculating GRS
    GRS = ((T-N-k)/N) * np.dot(np.linalg.inv((1 + mu * np.linalg.inv(omega) * mu.T)), a * np.linalg.inv(sigma) * a.T)
    p_val = 1 - stats.f.cdf(GRS, N, (T-N-k))
    
    return {
        'GRS': GRS.item(),
        'P value': p_val.item(),
        'Avg. absolute alpha': np.mean(np.abs(a))
    }

In [8]:
# Fit CAPM model
model_spec = [
    ['Mkt-RF'],  # CAPM
    ['Mkt-RF', 'SMB', 'HML'],  # FF three factor
    ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']  # FF five factor
]

out = []

for model in model_spec:
    results = pd.DataFrame()
    resids = pd.DataFrame()
    
    for asset in ret:
        X = factors[model]
        X = sm.add_constant(X)
        Y = ret[asset]

        fit = sm.OLS(endog=Y, exog=X).fit(cov_type='HAC', cov_kwds={'maxlags': 1})

        fit.params = fit.params.rename({'const': 'alpha'})
        results = results.append(fit.params, ignore_index=True)

        resids[asset] = fit.resid.values
        
    out.append(calc_GRS(F=factors[model], e=resids, a=results))
    
pd.DataFrame(out)

        GRS   P value  Avg. absolute alpha
0  2.800605  0.000008             0.159204
1  2.503949  0.000080             0.140613
2  1.413149  0.088044             0.080511

## Problem 1, b)

In [9]:
# Fit CAPM model
model_spec = [
    ['Mkt-RF'],  # CAPM
    ['Mkt-RF', 'SMB', 'HML'],  # FF three factor
    ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']  # FF five factor
]

out = []

for model in model_spec:
    results = pd.DataFrame()
    resids = pd.DataFrame()
    
    for asset in sr:
        X = factors[model]
        X = sm.add_constant(X)
        Y = sr[asset]

        fit = sm.OLS(endog=Y, exog=X).fit(cov_type='HAC', cov_kwds={'maxlags': 1})

        fit.params = fit.params.rename({'const': 'alpha'})
        results = results.append(fit.params, ignore_index=True)

        resids[asset] = fit.resid.values
        
    out.append(calc_GRS(F=factors[model], e=resids, a=results))
    
pd.DataFrame(out)

        GRS   P value  Avg. absolute alpha
0  2.395502  0.000178             0.190113
1  2.134411  0.001133             0.071250
2  1.681239  0.020589             0.054926

## Problem 1, c)

In [10]:
# Fit CAPM model
model_spec = [
    ['Mkt-RF'],  # CAPM
    ['Mkt-RF', 'SMB', 'HML'],  # FF three factor
    ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']  # FF five factor
]

out = []

for model in model_spec:
    results = pd.DataFrame()
    resids = pd.DataFrame()
    
    for asset in smo:
        X = factors[model]
        X = sm.add_constant(X)
        Y = smo[asset]

        fit = sm.OLS(endog=Y, exog=X).fit(cov_type='HAC', cov_kwds={'maxlags': 1})

        fit.params = fit.params.rename({'const': 'alpha'})
        results = results.append(fit.params, ignore_index=True)

        resids[asset] = fit.resid.values
        
    out.append(calc_GRS(F=factors[model], e=resids, a=results))
    
pd.DataFrame(out)

        GRS       P value  Avg. absolute alpha
0  4.868232  2.917666e-13             0.302199
1  5.103337  3.885781e-14             0.309712
2  4.428979  1.278888e-11             0.272311